.bash_history
.bash_logout
.bashrc
.profile
.selected_editor
.sudo_as_admin_successful
.vim
.viminfo
.wget-hsts
.env
bookstack/bookstack_app_data
bookstack/bookstack_db_data
ghost
logs
mediawiki/.env
revolt
wordpress
wordpress1
wordpress2
wordpress3/.env
wordpress4/.env
wordpress4/wordpress-content
workadventure
goaccess/data/access.conf
goaccess/GeoLite2-City.mmdb
goaccess/html/index.html
goaccess/data/database
